* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #a2a9b1;
}

/* Header Styling Start*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: #ca6d6d;
    padding-left: 100px;
    padding-right: 10px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ca6d6d;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid;
}

/* Header Styling End */

/* Hero Styling */

.hero {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

/*Align All Paragraphs*/

.content {
    display: inline-block;
}

.content h2 {
    float: left;
    flex-wrap: wrap;
    width: 20%;
    padding: 45px 50px;
    border-right: 3px solid #ca6d6d;
    color: #2a607c;
    font-family: Arial, Helvetica, sans-serif;
}

.content p {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 30px 50px;
    color: #2a607c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/* About Me Style */

.about-me h2 {
    height: 170px;
    padding-bottom: 30px;
}

.about-me p {
    align-content: flex-end;
    justify-content: flex-start;
    padding: 5px;
    margin-bottom: 10px;
}

/* Work Style */

.work h2 {
    margin-top: 20px;
    height: 850px;
}

.run-buddy img {
    display: flex;
    align-content: center;
    border: 3px solid #ca6d6d;
    margin: 50px 0 10px 50px;
    width: 800px;
    height: 350px;
}

.placeholders {
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.placeholder-1 img, .placeholder-2 img, .placeholder-3 img, .placeholder-4 img {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    border: 3px solid #ca6d6d;
    margin: 5px 20px 10px 20px;
    width: 400px;
    height: 250px;
}

/* End Work Style */

/* Contact Me Style */

.contact-me {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

.contact-me a {
    color: #2a607c;
    
}

/* Resume Style */